* {
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    font-family: system-ui,sans-serif;
    font-size: 23px;
}

header{
    margin-top: 1000px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

main{
    margin-top: 1000px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}