* {
    box-sizing: border-box;
}

body{

    margin: 10px;
    padding: 10px;
    font-family: system-ui,sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

header{
   margin: 10px 10px 10px 10px;
}

main{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.size1{

    font-size: 16px;
}

.bgcol{

    background-color: rgb(236, 250, 185);
}

.container {
    display: flex;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
  }
  
  .items {
    flex: 0 30%;
    color: white;
  }
  