* {
    box-sizing: border-box;
}

body{

    margin: 30px;
    padding: 10px;
    font-family: system-ui,sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

header{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.size1{

    font-size: 16px;
}

.bgcol{

    background-color: rgb(236, 250, 185);
}